

.materia-container{
  
    margin: 80px auto;
    margin-bottom: 0;
    background-image: linear-gradient(
        transparent,
        rgb(0, 0, 0) 95%
      ),
      linear-gradient(
          to top,
        transparent,
        rgb(0, 0, 0) 95%
      ),
    url('../assets/aboutimage.jpg');
}