*{
    color: white;
}

p{
    font-size: 15px;
}

.portifolio{
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
    margin: auto;
}

.forward-button, .back-button{
    position: absolute;
    top: 36%;
    color: rgb(0, 0, 0);
    right: 0;
    transform: translateY(-60%);
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'heading-now-86-bold';
    font-size: 20px;
    border: 5px solid rgba(255, 255, 255, 0);
    border-radius: 15px;
    padding: 10px 10px;
    user-select: none;
    transition: 0.5s;
    display: block;
}

.forward-button:hover, .back-button:hover{
    box-shadow: 0px 0px 0px 4px white;
    transition: 0.2s;
}
.forward-button:active, .back-button:active{
    font-size: 15px;
    box-shadow: 0px 0px 0px 1px white;
    transition: 0.1s;
}


.back-button{
    right: auto;
    left: 0;
}

.slider{
    overflow: hidden;
}

.slider ul{
    display: flex;
    width: 150%;
    overflow-x: hidden;
    transition: 0.5s;
    transform: translateX(0);
}

.slider ul li{
    list-style: none;
    width: 40%;
    padding: 20px;
    
}

.slide{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.slide img{
    border-radius: 15px;
    transition: 0.5s;
}

.slide img:hover{
    border-radius: 15px;
    box-shadow: 0px 0px 0px 4px rgb(255, 255, 255);
    transition: 0.2s;
}
.slide img:active{
    transform: translateY(3px);
    box-shadow: 0px 0px 0px 1px white;
    transition: transform 0.1s, box-shadow 0.1s;
}

.more-button{
    display: block;
    margin: 10px auto;
}
.more-button a{
    font-family: 'heading-now-86-bold'
}

.projectinfo{
    cursor: pointer;
}